<div class="limiter col-sm-12">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title">
        <span class="login100-form-title-1">Sign In</span>
      </div>
      <form
        class="login100-form"
        #f="ngForm"
      >
        <div
          class="wrap-input100"
          [ngClass]="{
            'mb-3': !((f.submitted || email.touched) && email.invalid)
          }"
        >
          <span class="label-input100">Email</span>
          <input
            class="input100"
            type="email"
            name="email"
            [(ngModel)]="login.email"
            placeholder="Enter Email"
            #email="ngModel"
            ngModel
            required
            email
          />
          <span class="focus-input100"></span>
        </div>
        <div
          class="wrap-input100"
          [ngClass]="{
            'mb-3': !((f.submitted || password.touched) && password.invalid)
          }"
        >
          <span class="label-input100">Password</span>
          <input
            class="input100"
            type="password"
            name="password"
            [(ngModel)]="login.password"
            placeholder="Enter Password"
            #password="ngModel"
            ngModel
            minlength="6"
            required
          />
          <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn mt-3">
          <button type="submit" class="login100-form-btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
